{% extends '../basepage.html' %}
{% load static %}
{% block title %}
    Music Form
{% endblock title %}

{% block main %}
    <section>
      {% if msg_error %}
      <div class="alert alert-warning alert-dismissible fade show  mt-2 mb-2" role="alert">
         {{msg_error}}
      </div>
      {% endif %}
        <h4 class="text-center m-3">Music Form</h4>
        <form method="POST" class="border rounded border-secondary p-3">
            {% csrf_token %}
            <div class="form-group">
              <label for="formGroupExampleInput">Song Title</label>
              {{forms.title}}
              {{forms.title.errors}}
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Album Name</label>
              {{forms.album_name}}
              {{forms.album_name.errors}}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Genre</label>
                {{forms.genre}}
                {{forms.genre.errors}}
                
            </div>

            <button type="submit" name="music_btn" class="form-control btn-info">Save</button>

          </form>
    </section>

{% endblock main %}
