{% extends '../basepage.html' %}
{% load static %}
{% block title %}
    Music delete
{% endblock title %}

{% block main %}


    <section>
        <div class="border border-secondary rounded p-3 mt-5"
            <h5 class="text-center m-3 text-danger">Are you sure, you want delete the music '<span class="text-info">{{obj.title}}</span>'?</h5>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="artist_id" value="{{obj.artist_id}}">
                <button type="submit" name="music_name" class="btn btn-danger mt-2">Delete</button>
            </form>
        </div>
    </section>

{% endblock main %}
