{% extends '../basepage.html' %}
{% load static %}
{% block title %}
    Music List
{% endblock title %}

{% block main %}


    <section>
        <h4 class="text-center m-3">Music Lists
          {% if artist_id %}
        <a href="{% url 'amsapp:music_add' artist_id %}" class="btn btn-info float-right btn-sm">Add New Music</a></h4>
         {% endif %}
        <h5 class="m-2">Singer : {{singer}}</h5>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Song Title</th>
                <th scope="col">Album Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for music in musics %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ music.title|truncatechars:25 }}</td>
                  <td>{{ music.album_name }}</td>
                  <td>{{ music.genre|default_if_none:'--' }}</td>
                  <td>{{ music.created_at}}</td>
                  <td>{{ music.updated_at }}</td>
                  <td>
                    <a href="{% url 'amsapp:music_update' music.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'amsapp:music_delete' music.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6">
                    No songs
                  </td>
                </tr>
                
                {% endfor %}
            </tbody>
          </table>
          {% if pages %}
          <nav aria-label="...">
            <ul class="pagination">
              {% if previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{previous}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Previous</a>
              </li>
              {% endif %}

              {% for page in pages %}
              {% if page == current_page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              {% endfor %}
              {% if next_page %}
              <li class="page-item">
                <a class="page-link" href="?page={{next_page}}" >Next </a>
              </li>
                {% else %}
              <li class="page-item disabled">
                <a class="page-link " href="">Next</a>
              </li>
                {% endif %}

            </ul>
          </nav>
          {% endif %}
    </section>

{% endblock main %}
