{% extends 'normal/basepage.html' %}
{% load static %}
{% block title %}
    Artist Form
{% endblock title %}

{% block main %}
    <section>
        <h4 class="text-center m-3">Artist Form
        <a href="{% url 'artistapp:csv_artist_import' %}" class="btn btn-info btn-sm float-right m-2">Upload CSV Files</a>
        </h4>
        <form method="POST" class="border rounded border-secondary p-3">
            {% csrf_token %}
            <div class="form-group">
              <label for="formGroupExampleInput">Name</label>
              {{forms.name}}
              {{forms.name.errors}}
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">D.O.B.</label>
              {{forms.dob}}
              {{forms.dob.errors}}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Gender</label>
                {{forms.gender}}
                {{forms.gender.errors}}
                
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">First Album Release Date</label>
                {{forms.first_release_year}}
                {{forms.first_release_year.errors}}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Total Release Album</label>
                {{forms.no_of_albums_released}}
                {{forms.no_of_albums_released.errors}}
            </div>
            <button type="submit" name="artist_btn" class="form-control btn-primary">Save</button>

          </form>
    </section>

{% endblock main %}
