{% extends 'normal/basepage.html' %}
{% load static %}
{% block title %}
    Artist CSV File upload
{% endblock title %}

{% block main %}


    <section>
        <h4 class="text-center m-3">Upload File</h4>
            <div class="col-sm-12">
                <form method="POST" enctype="multipart/form-data" class="border border-secondary rounded p-4">
                    {% csrf_token %}
                    {{form.file_name}}
                    <button type="submit" class="btn btn-secondary m-3">Upload</button>
                </form>
            </div>
    </section>

{% endblock main %}
