{% extends 'normal/basepage.html' %}
{% load static %}
{% block title %}
    Artist List
{% endblock title %}

{% block main %}


    <section>
        <h4 class="text-center m-3">Artist Lists
          <a href="{% url 'artistapp:a_artist_add' %}" class="btn btn-info btn-sm float-right m-2">Add New Artist</a>
          <a href="{% url 'artistapp:csv_artist' %}" class="btn btn-primary btn-sm float-right m-2">Export Artist List</a></h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col" >Artist Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
                <th scope="col">First Date of Release</th>
                <th scope="col">Number of Album</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col" width="170">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for artist in artist_lists %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ artist.name|truncatechars:25 }}</td>
                  <td>{{ artist.dob|date:'d M Y'|default_if_none:'--' }}</td>
                  <td>{% if artist.gender == 'm' %} Male{% elif artist.gender == 'f' %} Female {% else %} Others{% endif %}</td>
                  <td>{{ artist.first_release_year|default_if_none:'--' }}</td>
                  <td>{{ artist.no_of_albums_released|default_if_none:'--' }}</td>
                  <td>{{ artist.created_at|date:'d M Y'}}</td>
                  <td>{{ artist.updated_at|date:'d M Y' }}</td>
                  <td>
                    <a href="{% url 'artistapp:a_music_list' artist.id %}" class="btn btn-info btn-sm"><i class="fa fa-solid fa-eye"></i></a>
                    <a href="{% url 'artistapp:a_artist_update' artist.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'artistapp:a_artist_delete' artist.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              {% if artist_lists.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{artist_lists.previous_page_number}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Previous</a>
              </li>
              {% endif %}

              {% for page in totalpagelist %}
              {% if page == current_page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              {% endfor %}
              {% if artist_lists.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{artist_lists.next_page_number}}" >Next</a>
              </li>
                {% else %}
              <li class="page-item disabled">
                <a class="page-link " href="">Next</a>
              </li>
                {% endif %}

            </ul>
          </nav>
    </section>

{% endblock main %}
