{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <title>
       {% block title %}{% endblock title %} | Artist Management System
    </title>
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: grey;
        }
        .m-height-600 {
            min-height: 600px;
          }
    </style>
</head>
<body>
    <div class="m-0 p-0">
        <div class="container">
            <div class="m-3">
                <h2>ARTIST MANAGEMENT SYSTEM</h2>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-info" id="navbarNavDropdown">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                    <a class="nav-link  text-light" href="{% url 'artistapp:a_artist_list' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link  text-light" href="{% url 'artistapp:a_user_list' %}">Users</a>
                    </li>
                
                
                </ul>
                {% endif %}
                <span class="navbar-text">
                    {% if request.user.is_authenticated %}
                    <span class="text-dark">Welcome {{request.user.first_name}} {{request.user.last_name}} | </span>
                    <a href="{% url 'artistapp:a_logout' %}" class="text-light">Logout</a>
                    {% else %}
                    <a href="{% url 'artistapp:a_login' %}" class="text-light">Login</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-content">
            <div class="container-fluid">
                <div class="m-height-600">
                {% block main %}

                {% endblock main %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <hr>
            <p>Artist Management System, by Pravin Rai, 2023</p>
        </div>
    </footer>
`   <script src="{% static 'js/bootstrap.min.js' %}">
    
</script>
</body>
</html>