{% extends 'normal/basepage.html' %}
{% load static %}
{% block title %}
    Music Form
{% endblock title %}

{% block main %}
    <section>
        <h3 class="text-center m-3">Singer : {{artist.name}}</h3>
        <hr>

        <h4 class="text-center m-3">Music Form</h4>
        <form method="POST" class="border rounded border-secondary p-3">
            {% csrf_token %}
            <div class="form-group">
              <label for="formGroupExampleInput">Music Title</label>
              {{forms.title}}
              {{forms.title.errors}}
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Album Name</label>
              {{forms.album_name}}
              {{forms.album_name.errors}}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Genre</label>
                {{forms.genre}}
                {{forms.genre.errors}}
                
            </div>
            <button type="submit" name="music_btn" class="form-control btn-primary">Save</button>

          </form>
    </section>

{% endblock main %}
