{% extends 'normal/basepage.html' %}
{% load static %}
{% block title %}
    Music List
{% endblock title %}

{% block main %}

    <section>
        <h4 class="text-center m-3">Singer {{artist.name}} songs list
        <a href="{% url 'artistapp:a_music_add' artist.id %}" class="btn btn-info float-right btn-sm">Add New Song</a></h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col" >Song's Name</th>
                <th scope="col">Album</th>
                <th scope="col">Genre</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for music in music_lists %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ music.title|truncatechars:25 }}</td>
                  <td>{{ music.album_name|default_if_none:'--' }}</td>
                  <td>{{ music.genre|default_if_none:'--' }}</td>
                  <td>{{ music.created_at|date:'d M Y'}}</td>
                  <td>{{ music.updated_at|date:'d M Y' }}</td>
                  <td>
                    <a href="{% url 'artistapp:a_music_update' music.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'artistapp:a_music_delete' music.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="7">No songs</td>
                </tr>
                
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              {% if artist_lists.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{artist_lists.previous_page_number}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Previous</a>
              </li>
              {% endif %}

              {% for page in totalpagelist %}
              {% if page == current_page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              {% endfor %}
              {% if artist_lists.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{artist_lists.next_page_number}}" >Next</a>
              </li>
                {% else %}
              <li class="page-item disabled">
                <a class="page-link " href="">Next</a>
              </li>
                {% endif %}

            </ul>
          </nav>
    </section>

{% endblock main %}
