{% extends 'normal/basepage.html' %}
{% load static %}
{% block title %}
    User List
{% endblock title %}

{% block main %}


    <section>
        <h4 class="text-center m-3">User Lists
        <a href="{% url 'artistapp:a_user_add' %}" class="btn btn-info float-right btn-sm">Add New User</a></h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col" >Email</th>
                <th scope="col">User Name</th>
                <th scope="col">Phone</th>
                <th scope="col">D.O.B.</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for user in user_lists %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.first_name|truncatechars:40|default_if_none:'--' }} {{ user.last_name|truncatechars:40 }}</td>
                  <td>{{ user.phone|default_if_none:'--' }}</td>
                  <td>{{ user.dob|date:'d M Y'|default_if_none:'--' }}</td>
                  <td>{% if user.gender == 'm' %} Male{% elif user.gender == 'f' %} Female {% else %} Others{% endif %}</td>
                  <td>{{ user.address|default_if_none:'--' }}</td>
                  <td>{{ user.created_at|date:'d M Y'}}</td>
                  <td>{{ user.updated_at|date:'d M Y' }}</td>
                  <td>
                    <a href="{% url 'artistapp:a_user_update' user.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'artistapp:a_user_delete' user.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              {% if artist_lists.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{artist_lists.previous_page_number}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Previous</a>
              </li>
              {% endif %}

              {% for page in totalpagelist %}
              {% if page == current_page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              {% endfor %}
              {% if artist_lists.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{artist_lists.next_page_number}}" >Next</a>
              </li>
                {% else %}
              <li class="page-item disabled">
                <a class="page-link " href="">Next</a>
              </li>
                {% endif %}

            </ul>
          </nav>
    </section>

{% endblock main %}
