{% extends 'basepage.html' %}
{% load static %}
{% block title %}
    Artist List
{% endblock title %}

{% block main %}


    <section>
        <h4 class="text-center m-3">Artist Lists
          <a href="{% url 'amsapp:artist_add' %}" class="btn btn-info float-right btn-sm m-2">Add New Artist</a>
          <a href="{% url 'amsapp:export' %}" class="btn btn-info float-right btn-sm m-2">CSV Export</a>
          {% comment %} <a href="{% url 'amsapp:import' %}" class="btn btn-info float-right btn-sm m-2">CSV Import File</a> {% endcomment %}
        </h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col" >Artist Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
                <th scope="col">First Date of Release</th>
                <th scope="col">No. of Album</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'amsapp:music_list' artist.id %}" class="">{{ artist.name|truncatechars:25 }}</a></td>
                  <td>{{ artist.dob|default_if_none:'--' }}</td>
                  <td>{{ artist.gender }}</td>
                  <td>{{ artist.first_release_year|default_if_none:'--' }}</td>
                  <td>{{ artist.no_of_albums_released|default_if_none:'--' }}</td>
                  <td>{{ artist.created_at}}</td>
                  <td>{{ artist.updated_at }}</td>
                  <td>
                    <a href="{% url 'amsapp:music_list' artist.id %}" class="btn btn-info btn-sm"><i class="fa fa-solid fa-eye"></i></a>
                    <a href="{% url 'amsapp:artist_update' artist.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'amsapp:artist_delete' artist.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              {% if previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{previous}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Previous</a>
              </li>
              {% endif %}

              {% for page in pages %}
              {% if page == current_page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              {% endfor %}
              {% if next_page %}
              <li class="page-item">
                <a class="page-link" href="?page={{next_page}}" >Next </a>
              </li>
                {% else %}
              <li class="page-item disabled">
                <a class="page-link " href="">Next</a>
              </li>
                {% endif %}

            </ul>
          </nav>
    </section>

{% endblock main %}
