{% extends 'basepage.html' %}
{% load static %}
{% block title %}
    Artist Form
{% endblock title %}

{% block main %}
    <section>
        {% if msg_error %}
        <div class="alert alert-warning alert-dismissible fade show mt-2 mb-2" role="alert">
           {{msg_error}}
        </div>
        {% endif %}
        <h4 class="text-center m-3">Artist Form</h4>
        <form method="POST" class="border rounded border-secondary p-3">
            {% csrf_token %}
            <div class="form-group">
              <label for="formGroupExampleInput">Name</label>
              {{forms.name}}
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">D.O.B.</label>
              {{forms.dob}}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Gender</label>
                {{forms.gender}}
                
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">First Album Release Date</label>
                {{forms.first_release_year}}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Total Release Album</label>
                {{forms.no_of_albums_released}}
            </div>
            <button type="submit" name="artist_btn" class="form-control btn-info">Save</button>

          </form>
    </section>

{% endblock main %}
