{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>API Login | Artist Management System</title>
</head>
<body>
    
    <div class="container">
    <main>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">ARTIST MAMAGEMENT SYSTEM</h5>
                                            <p>Sign in to continue to AMS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                               
                                <div class="p-2">
                                    <form class="form-horizontal" action="" method="POST">
                                        {% csrf_token %}
        
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            {{forms.email}}
                                            {{forms.email.errors}}
                                        </div>
                
                                        <div class="form-group">
                                            <label for="userpassword">Password</label>
                                            {{forms.password}}
                                            {{forms.password.errors}}
                                        </div>
                
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                                        </div>
                                        
                                        <div class="mt-3">
                                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log In</button>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <p>Don't have an account ? <a href="{% url 'amsapp:user_add' %}" class="font-weight-medium text-primary"> Signup now </a> </p>

                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            
                            <div>
                                <p>© <script>document.write(new Date().getFullYear())</script> Artist Management System, by Pravin Rai</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
          </main>
    </div>
   
`   <script src="{% static 'js/bootstrap.min.js' %}">
    
</script>
</body>
</html>