{% extends '../basepage.html' %}
{% load static %}
{% block title %}
    User Update Form
{% endblock title %}

{% block main %}
<section>
  <h4 class="text-center m-3">User Update Form</h4>
  <form method="POST" class="border rounded border-secondary p-3">
      {% csrf_token %}
      <div class="form-group">
        <div class="form-group">
          <label for="formGroupExampleInput">First name</label>
          {{forms.first_name}}
          {{forms.first_name.errors}}
        </div>            
        <div class="form-group">
          <label for="formGroupExampleInput">Last name</label>
          {{forms.last_name}}
          {{forms.last_name.errors}}
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Phone</label>
          {{forms.phone}}
          {{forms.phone.errors}}
        </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">D.O.B.</label>
        {{forms.dob}}
        {{forms.dob.errors}}
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput2">Gender</label>
          {{forms.gender}}
          {{forms.gender.errors}}
          
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput2">Address</label>
          {{forms.address}}
          {{forms.address.errors}}
      </div>
      
      <button type="submit" name="user_btn" class="form-control btn-primary">Update</button>

    </form>
</section>


{% endblock main %}
