{% extends '../basepage.html' %}
{% load static %}
{% block title %}
    User List
{% endblock title %}

{% block main %}


    <section>
        <h4 class="text-center m-3">User Lists
        <a href="{% url 'amsapp:user_add' %}" class="btn btn-info float-right btn-sm">Add New User</a></h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S.N.</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">D.O.B</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ user.first_name|truncatechars:30 }} {{ user.last_name|truncatechars:30 }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone|default_if_none:'--' }}</td>
                  <td>{{ user.dob|default_if_none:'--' }}</td>
                  <td>{{ user.gender|default_if_none:'--'  }}</td>
                  <td>{{ user.address|default_if_none:'--'  }}</td>
                  <td>
                    <a href="{% url 'amsapp:user_update' user.id %}" class="btn btn-info btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{% url 'amsapp:user_delete' user.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6">
                    No songs
                  </td>
                </tr>
                
                {% endfor %}
            </tbody>
          </table>
          {% if pages %}
          <nav aria-label="...">
            <ul class="pagination">
              {% if previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{previous}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="" tabindex="-1">Previous</a>
              </li>
              {% endif %}

              {% for page in pages %}
              {% if page == current_page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a>
              </li>
              {% endif %}
              {% endfor %}
              {% if next_page %}
              <li class="page-item">
                <a class="page-link" href="?page={{next_page}}" >Next </a>
              </li>
                {% else %}
              <li class="page-item disabled">
                <a class="page-link " href="">Next</a>
              </li>
                {% endif %}

            </ul>
          </nav>
          {% endif %}
    </section>

{% endblock main %}
