{% extends '../basepage.html' %}
{% load static %}
{% block title %}
    User delete
{% endblock title %}

{% block main %}


    <section>
        <div class="border border-secondary rounded p-3 mt-5"
            <h5 class="text-center m-3 text-danger">Are you sure, you want delete the user '<span class="text-info">{{obj.first_name}} {{obj.last_name}}</span>'?</h5>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="user_name" class="btn btn-danger mt-2">Delete</button>
            </form>
        </div>
    </section>

{% endblock main %}
