{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>API User Registration | Artist Management System</title>
</head>
<body>
    
    <div class="container">
    <main>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row  bg-secondary">
                                    <div class="col-12">
                                        <div class="text-primary p-4">
                                            <h5 class="text-white">ARTIST MAMAGEMENT SYSTEM</h5>
                                            <p class="text-white">User Registration</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                               
                                <div class="p-2">
                                    <form method="POST" class="p-3">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Email</label>
                                            {{forms.email}}
                                            {{forms.email.errors}}
                                          </div>    
                                          <div class="form-group">
                                            <label for="formGroupExampleInput">Password</label>
                                            {{forms.password}}
                                            {{forms.password.errors}}
                                          </div>        
                                          <div class="form-group">
                                            <label for="formGroupExampleInput">First name</label>
                                            {{forms.first_name}}
                                            {{forms.first_name.errors}}
                                          </div>            
                                          <div class="form-group">
                                            <label for="formGroupExampleInput">Last name</label>
                                            {{forms.last_name}}
                                            {{forms.last_name.errors}}
                                          </div>
                                          <div class="form-group">
                                            <label for="formGroupExampleInput">Phone</label>
                                            {{forms.phone}}
                                            {{forms.phone.errors}}
                                          </div>
                                        <div class="form-group">
                                          <label for="formGroupExampleInput2">D.O.B.</label>
                                          {{forms.dob}}
                                          {{forms.dob.errors}}
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Gender</label>
                                            {{forms.gender}}
                                            {{forms.gender.errors}}
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Address</label>
                                            {{forms.address}}
                                            {{forms.address.errors}}
                                        </div>
                                        <div class="mt-3">
                                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Register</button>
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            
                            <div>
                                <p>© <script>document.write(new Date().getFullYear())</script> Artist Management System, by Pravin Rai</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
          </main>
    </div>
   
`   <script src="{% static 'js/bootstrap.min.js' %}">
    
</script>
</body>
</html>